<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula 2</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <h1>{{ title }}</h1>
        <!-- <botao-clique v-bind:style="button" message="Clique aqui!"></botao-clique>
        
        <h1>Soma: {{resultadoSoma}} </h1>
        <input class="num" type="number" v-model="numero" @keyup.enter="somar()">

        <form @submit.prevent="alertaMensagem()">
            <input type="text">
        </form>

        <div v-for="item in itens">
            <h1>"{{item.nome}}" custa R$ {{item.preco}}</h1>
        </div> -->

        <button @click="valorNumero -= 1">Subtrair</button>
        <h1>{{valorNumero}}</h1>
        <button @click="valorNumero += 1">Somar</button>
    </div>
    
</body>
</html>