* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: cornflowerblue;
}

#app {
    background-color: aliceblue;
    padding: 30px;
    border-radius: 8px;
}

.word {
    margin-top: 20px;
    margin-bottom: 20px;
}

#adivinhar {
    background-color: aliceblue;
    padding: 30px;
    border-radius: 8px;
}